
 
	
 <link rel="stylesheet" type="text/css" href="/public/thumbelina/thumbelina.css" />
 <script type="text/javascript" src="/public/javascripts/jquery-1.6.4.min.js"></script>
 <script type="text/javascript" src="/public/thumbelina/thumbelina.js"></script>
	




<style>




#nav {
		    line-height:30px;
		    background-color:#eeeeee;
		    height:400px;
		    width:300px;
		    float:left;
		    padding:5px;	   
		    }
		    #slider1 {
		     position:relative;  /* Containers need relative or absolute position. */
		     margin-left:20px;
		     width:256px;
		     height:120px;
		     border-top:1px solid #aaa;
		     border-bottom:1px solid #aaa;
		 }
		
		 #slider2 {
		     position:relative;
		     margin-left:20px;
		     width:75%;
		     height:120px;
		     border-top:1px solid #aaa;
		     border-bottom:1px solid #aaa;
		 }
		
		 #slider3 {
		     position:relative;
		     margin-left:20px;
		     width:75%;
		     height:120px;
		     border-top:1px solid #aaa;
		     border-bottom:1px solid #aaa;
		 }   
		 
		  #slider4 {
		     position:relative;
		     margin-left:20px;
		     width:75%;
		     height:120px;
		     border-top:1px solid #aaa;
		     border-bottom:1px solid #aaa;
		 } 
		}
		
		</style>

<script type="text/javascript">
            $(function(){
                
                $('#slider1').Thumbelina({
                    $bwdBut:$('#slider1 .left'),    // Selector to left button.
                    $fwdBut:$('#slider1 .right')    // Selector to right button.
                });
                
                $('#slider2').Thumbelina({
                    $bwdBut:$('#slider2 .left'),    // Selector to left button.
                    $fwdBut:$('#slider2 .right')    // Selector to right button.
                });
                
                $('#slider3').Thumbelina({
                    $bwdBut:$('#slider3 .left'),    // Selector to left button.
                    $fwdBut:$('#slider3 .right')    // Selector to right button.
                });
                
                $('#slider4').Thumbelina({
                    $bwdBut:$('#slider4 .left'),    // Selector to left button.
                    $fwdBut:$('#slider4 .right')    // Selector to right button.
                });
                
               
              
            })

</script>


<div id="header">
 #{if user?.id}
                <div id="options" style="float: right;position: relative;">
                  <label class="control-label col-xs-2"> iniciad@:${user.username} </label> <br>   
                    <a href="@{Application.logout()}" style="float: right;position: relative;padding-right: 5px">[Cerrar Sesion]</a>
           
                </div>
            #{/if}
            <div id="content">
            #{if flash.error}
                <p class="fError">
                    <strong>${flash.error}</strong>
                </p>
            #{/if}
            #{if flash.success}
              <center>  <p class="fSuccess">
                    <strong>${flash.success}</strong>
                </p></center>
            #{/if}
                    

</div>






<div id="nav">
        <h3>Cuadernos</h3>
        
        
        <div id="slider2">
        
            <div class="thumbelina-but horiz left">&#706;</div>
         
            <ul>
            	 
            	       #{list items:x,as: 'cu'}    
           
          
          <img  src="/public/images/${cu.imagen}" style="width: 120px; height: 120px;"  id="${cu.code}" onclick="sambo(this);">  </img>
               
                                #{/list}  
            </ul>

            <div class="thumbelina-but horiz right">&#707;</div>
        </div>	

</div>




<div id="nav">
        <h3>Esferograficos</h3>
        
        
        <div id="slider1">
        
            <div class="thumbelina-but horiz left">&#706;</div>
         
            <ul>
            	 
            	       #{list items:z,as:'es'}    
           
          
          <img  src="/public/images/${es.imagen}" style="width: 120px; height: 120px;"  id="${es.code}"  onclick="esferograficos(this);">  </img>
               
                                #{/list}  
            </ul>

            <div class="thumbelina-but horiz right">&#707;</div>
        </div>	

</div>


<div id="nav">
        <h3>Accesorios</h3>
        
        
        <div id="slider3">
        
            <div class="thumbelina-but horiz left">&#706;</div>
         
            <ul>
            	 
            	       #{list items:a,as:'ac'}    
           
          
          <img  src="/public/images/${ac.imagen}" style="width: 120px; height: 120px;"  id="${ac.code}"  onclick="accesorios(this);">  </img>
               
                                #{/list}  
            </ul>

            <div class="thumbelina-but horiz right">&#707;</div>
        </div>	

</div>



<div id="nav">
        <h3>Archivadores</h3>
        
        
        <div id="slider4">
        
            <div class="thumbelina-but horiz left">&#706;</div>
         
            <ul>
            	 
            	       #{list items:w,as:'ar'}    
           
          
          <img  src="/public/images/${ar.imagen}" style="width: 120px; height: 120px;"  id="${ar.code}" onclick="archivadores(this)" >  </img>
               
                                #{/list}  
            </ul>

            <div class="thumbelina-but horiz right">&#707;</div>
        </div>	

</div>







</select>

<!-- --aki va la nueva tabla esferograficos -->



<table border="1" >

<tr>

<td style="background-color: black; color: white; text-align: center;" >Tipo </td>
<td style="background-color: black; color: white; text-align: center;">Precio </td>
<td style="background-color: black; color: white; text-align: center;">Marca </td>
<td style="background-color: black; color: white; text-align: center;">Detalle </td>
<td style="background-color: black; color: white; text-align: center;">Cantidad </td>
<td style="background-color: black; color: white; text-align: center;">Opciones</td>

</tr>


<tr>

<td><input  type="text" readonly="readonly"  id="tipoes"  name="tipo"   style="width: 120px; text-align: center;"  class="form-control" > </td>
<td><input  type="text"  readonly="readonly"  id="precioes" name="precio"  style="width: 120px; text-align: center;"> </td>
<td><input  type="text"  readonly="readonly"  id="marcaes"    name="marca" style="width: 120px; text-align: center;"> </td>

<td><input  type="text"  readonly="readonly"  id="detallees" name="detalle"  style="width: 200px; text-align: center;  " > </td>
<td><input  type="number" min="0"  id="cantidad"  name="cantidades"   style="width: 200px; text-align: center;" required="required"> </td>
<td> <input  type="submit"  value="Agregar Producto">  </td>





</tr>



<!-- --fin -->





   
<div id="tabla">

<table border="1" >

<tr>

<td style="background-color: black; color: white; text-align: center;" >Tipo </td>
<td style="background-color: black; color: white; text-align: center;">Precio </td>
<td style="background-color: black; color: white; text-align: center;">Marca </td>
<td style="background-color: black; color: white; text-align: center;">Numero  Hojas </td>
<td style="background-color: black; color: white; text-align: center;">Detalle </td>
<td style="background-color: black; color: white; text-align: center;">Cantidad </td>
<td style="background-color: black; color: white; text-align: center;">Opciones</td>

</tr>



#{form @Application.registrar_temporal(precio,detalle,cantidad)}

<form  method="post" class="form-horizontal">

<tr>

<td><input  type="text" readonly="readonly"  id="tipo"  name="tipo"   style="width: 120px; text-align: center;"  class="form-control" > </td>
<td><input  type="text"  readonly="readonly"  id="precio" name="precio"  style="width: 120px; text-align: center;"> </td>
<td><input  type="text"  readonly="readonly"  id="marca"    name="marca" style="width: 120px; text-align: center;"> </td>
<td><input  type="text"  readonly="readonly" id="n_hojas" name="n_hojas"  style="width: 120px; text-align: center;"> </td>
<td><input  type="text"  readonly="readonly"  id="detalle" name="detalle"  style="width: 200px; text-align: center;  " > </td>
<td><input  type="number" min="0"  id="cantidad"  name="cantidad"   style="width: 200px; text-align: center;" required="required"> </td>
<td> <input  type="submit"  value="Agregar Producto">  </td>





</tr>



</form>
#{/form}

</table>



</div>




<div >

<table border="1" >

<tr>

<td style="background-color: black; color: white; text-align: center;">Precio Unitario </td>

<td style="background-color: black; color: white; text-align: center;  ">Detalle </td>
<td style="background-color: black; color: white; text-align: center;" >Cantidad </td>
<td style="background-color: black; color: white; text-align: center;" >SubTotal </td>
<td style="background-color: black; color: white; text-align: center;">Opciones</td>

</tr>



 #{list items:y,as: 'tem'}
<tr>




<td > <input type="text"  value=" ${tem.precio}"> </td>


<td >  <input type="text"  value=" ${tem.detalle}"> </td>
<td >  <input type="text"  value=" ${tem.cantidad}"> </td>
<td >  <input type="text"  value=  "${tem.total}"   > </td>



<td><a href="/Application/eliminar_pedido?id=${tem.id}" onclick="return confirm('Estas seguro???');">Eliminar </a></td>

</tr>


#{/list}  



<td>  <input type="text" id="txttotal"  value= ""  >  </td>


</div>






 




<!-- -Calcular total -->


<input  type="button" value="calcular total " onclick="calculartotal();"> 


<script>
function calculartotal(){
	
	 acutotal=0;
	 #{list items:y,as:'tem'}
	 txttotal.value="${tem.total}";	
	 acu = txttotal.value;
	 acu2=parseFloat(acu);
	 acutotal=acutotal + acu2;
	 #{/list}
	 txttotal.value = acutotal;
	
}



</script>
















<!-- -Intentare sacar datos   -->

 <script type="text/javascript">

function sambo(valor) { 
#{list items:x,as: 'cu'}  
i=${cu.code};
if (i==valor.id){	

tipo.value    ="${cu.tipo}";
precio.value  ="${cu.precio}";
marca.value="${cu.marca}";
n_hojas.value="${cu.n_hojas}";
detalle.value="${cu.detalle}";



return false;
         }  

#{/list}
	
}
</script>




<script type="text/javascript">
///funcion dos saca los valores de esferograficos

function esferograficos(valor) { 
#{list items:z,as: 'es'}  
i=${es.code};
if (i==valor.id){	

tipoes.value    ="${es.tipo}";
precioes.value  ="${es.precio}";
marcaes.value="${es.marca}";

detallees.value="${es.detalle}";



return false;
         }  

#{/list}
	
}
</script>




<script type="text/javascript">
///funcion dos saca los valores de accesorios

function accesorios(valor) { 
#{list items:a,as: 'ac'}  
i=${ac.code};
if (i==valor.id){	

tipoes.value    ="${ac.tipo}";
precioes.value  ="${ac.precio}";
marcaes.value="${ac.marca}";

detallees.value="${ac.detalle}";



return false;
         }  

#{/list}
	
}
</script>



<script type="text/javascript">
///funcion dos saca los valores de accesorios

function archivadores(valor) { 
#{list items:w,as: 'ac'}  
i=${ac.code};
if (i==valor.id){	

tipoes.value    ="${ac.tipo}";
precioes.value  ="${ac.precio}";
marcaes.value="${ac.marca}";

detallees.value="${ac.detalle}";



return false;
         }  

#{/list}
	
}
</script>







